.frameChild {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--cream-colourscheme);
  width: 1920px;
  height: 1080px;
}
.learnToUse {
  position: absolute;
  top: 504px;
  left: 1316px;
  display: inline-block;
  width: 472px;
  height: 69px;
}
.frameItem {
  position: absolute;
  top: 216px;
  left: 128px;
  width: 480px;
  height: 282px;
  cursor: pointer;
}
.frameChild1,
.frameChild2,
.frameChild3,
.frameInner,
.rectangleDiv {
  position: absolute;
  top: 216px;
  left: 725px;
  background-color: var(--lightgrey-colourscheme);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 470px;
  height: 274px;
  cursor: pointer;
}
.frameChild1,
.frameChild2,
.frameChild3,
.rectangleDiv {
  left: 1316px;
  width: 472px;
}
.frameChild1,
.frameChild2,
.frameChild3 {
  top: 649px;
  left: 725px;
  width: 470px;
}
.frameChild2,
.frameChild3 {
  left: 1316px;
  width: 472px;
}
.frameChild3 {
  left: 132px;
}
.screenshot20230930At344 {
  position: absolute;
  top: 30px;
  left: 1825px;
  width: 64px;
  height: 64px;
  object-fit: cover;
  cursor: pointer;
}
.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-81xl);
  background-color: var(--color-whitesmoke);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1491px;
  height: 53px;
}
.groupItem {
  position: absolute;
  top: 14px;
  left: 51px;
  border-radius: 50%;
  background-color: var(--lightgrey-colourscheme);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 17px;
  height: 17px;
}
.groupInner,
.whatWouldYou {
  position: absolute;
  top: 28.34px;
  left: 64.87px;
  width: 9.86px;
  height: 10.66px;
}
.whatWouldYou {
  top: 18px;
  left: 310px;
  display: inline-block;
  width: 942.19px;
  height: 21px;
}
.rectangleGroup {
  position: absolute;
  top: 48px;
  left: 179px;
  width: 1491px;
  height: 53px;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-lightgray);
}
.anIntroductionTo,
.basicsBy,
.fundamentalsOf,
.howTo,
.masterclassBy {
  position: absolute;
  top: 504px;
  left: 132px;
  display: inline-block;
  width: 472px;
  height: 69px;
}
.anIntroductionTo,
.basicsBy,
.fundamentalsOf,
.masterclassBy {
  top: 937px;
  left: 1316px;
}
.anIntroductionTo,
.basicsBy,
.fundamentalsOf {
  left: 725px;
  width: 470px;
}
.anIntroductionTo,
.basicsBy {
  left: 132px;
  width: 472px;
}
.anIntroductionTo {
  top: 504px;
  left: 725px;
  width: 470px;
}
.groupIcon {
  position: absolute;
  top: 44px;
  left: 1740px;
  width: 48px;
  height: 35px;
  cursor: pointer;
}
.rectangleParent {
  position: relative;
  width: 100%;
  height: 1080px;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--darkgrey-colourscheme);
  font-family: var(--font-secular-one);
}
